<ion-content>
  <router-outlet></router-outlet>
</ion-content>

<!-- bottom nav bar -->

<div class="bottom-tab-container position-relative">
  <div class="row justify-content-between app-bg-secondary py-2">
    <div
      class="col text-center tab-item app-text-light fw-bold"
      routerLink="/home"
      routerLinkActive="active"
    >
      <ion-icon class="fs-2" name="home-outline"></ion-icon>
      <p class="mb-0">Home</p>
    </div>
    <div
      class="col text-center ta app-text-light fw-bold"
      routerLink="/expenses"
      routerLinkActive="active"
    >
      <ion-icon class="fs-2" name="wallet-outline"></ion-icon>
      <p class="mb-0">Expenses</p>
    </div>
    <div class="col"></div>
    <div
      class="col text-center ta app-text-light fw-bold"
      routerLink="/chat"
      routerLinkActive="active"
    >
      <ion-icon class="fs-2" name="chatbox-ellipses-outline"></ion-icon>
      <p class="mb-0">Chat</p>
    </div>
    <div
      class="col text-center ta app-text-light fw-bold"
      routerLink="/profile"
      routerLinkActive="active"
    >
      <ion-icon class="fs-2" name="person-outline"></ion-icon>
      <p class="mb-0">Me</p>
    </div>
  </div>
  <div class="add-exp">
    <ion-icon
      (click)="openAddExpensesPage()"
      class="app-text-secondary fw-bold"
      name="add-circle-outline"
    ></ion-icon>
  </div>
</div>
