<ion-content>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <img class="bg-2" src="/assets/vectors/bg-2.svg" />
      </div>
    </div>
    <!-- signup form -->
    <form class="row" [formGroup]="signupForm" (ngSubmit)="createAccount()">
      <div class="col-12">
        <div class="row">
          <div class="col-8">
            <div class="app-input">
              <input type="text" name="name" formControlName="name" placeholder="Full Name" />
            </div>
          </div>
          <div class="col-4">
            <div class="app-input">
              <select name="currency" formControlName="default_currency">
                <option>Currency</option>
                <option value="USD">USD</option>
                <option value="INR">INR</option>
              </select>
            </div>
          </div>
        </div>

        <div class="app-input">
          <input type="email" name="email" formControlName="email" placeholder="Email" />
        </div>
        <!-- password -->
        <div class="app-input">
          <input [type]="showPassword ? 'text' : 'password'" name="Password" placeholder="Password"
            formControlName="password" />
          <ion-icon [name]="showPassword ? 'eye-outline' : 'eye-off-outline'" class="input-icon"
            (click)="toggelShowPassword()"></ion-icon>
        </div>
        <!-- login button -->
        <div>
          <button class="btn w-100 app-bg-primary app-text-secondary fw-bold" [disabled]="signupForm.invalid">
            Sign Up
          </button>
        </div>
      </div>
    </form>

    <p class="mt-2 px-2">Already having account <a class="app-text-secondary fw-bold fs-5" routerLink="/login">Login</a>
    </p>
    <!-- or line -->
    <div class="px-2 position-relative mt-4">
      <hr class="app-text-secondary" />
      <span class="or-text fw-bold app-text-success app-bg-light">OR</span>
    </div>

    <!-- login with google button -->
    <div class="px-2 mb-4">
      <button type="button" class="btn w-100 app-bg-secondary fw-bold d-flex justify-content-center align-items-center"
        (click)="googleSign()">
        <span> Sign Up With Google</span>
        <ion-icon name="logo-google" class="ms-3"></ion-icon>
      </button>
    </div>
  </div>
</ion-content>