.bg-2 {
    height: 37rem;
    margin-top: -8rem;
    margin-left: -5rem;
    max-width: unset !important;
}


.or-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center it properly */
    padding: 2px 8px;
}