<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row py-3 px-2">
      <div class="col-12">
        <!-- top icons and month details -->

        <div class="row py-3">
          <div class="col-4"></div>
          <div class="col-4 text-center fw-bold fs-2">March</div>
          <div class="col-4 text-end">
            <div class="d-flex h-100 align-items-center justify-content-end">
              <ion-icon name="search-outline" class="fs-2 mx-2"></ion-icon>
              <ion-icon name="calendar-outline" class="fs-2 mx-2"></ion-icon>
            </div>
          </div>
        </div>

        <!-- expense details card -->
        <div class="row text-center align-items-center app-card">
          <div class="col-4 border-end">
            <p class="mb-1">Spent <span class="text-danger">↑</span></p>
            <p class="mb-0">$43222</p>
          </div>
          <div class="col-4 border-end">
            <p class="mb-1">Recived <span class="text-success">↓</span></p>
            <p class="mb-0">$43222</p>
          </div>
          <div class="col-4">
            <p class="mb-1">Balance</p>
            <p class="mb-0">$43222</p>
          </div>
          <div class="my-3 border-top"></div>
          <div class="col-10">Let set the budget and reduce the spending</div>
          <div class="col-2">
            <ion-icon class="fs-3" name="chevron-forward-outline"></ion-icon>
          </div>
        </div>

        <!-- recent bill on the month -->
        <div class="row py-3 px-2">
          <h3>Recent Bill On The Month</h3>
          <hr />
          <!-- everyday bills -->
          @for (b of []; track $index) {
          <div>
            <div class="d-flex justify-content-between align-items-center">
              <h4>Today Mar 13</h4>
              <span>383</span>
            </div>
            <div class="app-card"></div>
          </div>
          }@empty {
          <div class="text-center app-text-danger">No Bills Found</div>
          }
        </div>

        
      </div>
    </div>
  </div>
</ion-content>
