<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row py-3 px-2">
      <div class="col-12">
        <!-- top icons and month details -->

        <div class="row py-3">
          <div class="col-8 text-center fw-bold fs-3">
            <div id="home-year-dialog" class="d-flex align-items-center justify-content-center">
              <span>{{monthList[currentMonth].name}} / {{currentYear}}</span>
              <span class="fs-6 ms-2">▼</span>
            </div>
            <ion-modal id="home-year-dialog" trigger="home-year-dialog" (willDismiss)="onWillDismiss($event)">
              <ng-template>
                <div class="wrapper app-bg-dark p-2">
                  <div class="row">
                    <div class="text-center fs-4">
                      <span class="fs-1 me-3 fw-bold" (click)="changeYear(1)">&#8249;</span>
                      {{selectedYear}}
                      <span class="fs-1 ms-3 fw-bold" (click)="changeYear(0)">&#8250;</span>
                    </div>
                    <div class="col mt-3 p-3">
                      <div class="row">
                        @for (m of monthList; track $index) {
                        <div class="col-3 p-2">
                          <div class="app-card text-center p-1 py-2 btn w-100"
                            [ngClass]="{'border': (selectedMonth + 1) === m.month }" (click)="changeMonth(m.month)">
                            {{m.month}}
                          </div>
                        </div>
                        }
                      </div>
                    </div>

                    <!-- close and submit icons -->
                    <div class="col-12 d-flex justify-content-between">
                      <ion-icon name="close-outline" class="fs-1 fw-bold m-3"
                        (click)="submitYearMonth(false)"></ion-icon>
                      <ion-icon name="checkmark-outline" class="fs-1 fw-bold m-3"
                        (click)="submitYearMonth(true)"></ion-icon>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ion-modal>
          </div>
          <div class="col-4 text-end">
            <div class="d-flex h-100 align-items-center justify-content-end">
              <!-- <ion-icon name="search-outline" class="fs-2 mx-2"></ion-icon> -->
              <ion-icon (click)="openCalendarpage()" name="calendar-outline" class="fs-2 mx-2"></ion-icon>
            </div>
          </div>
        </div>

        <!-- expense details card -->
        <div class="row text-center align-items-center app-card">
          <div class="col-6 py-2 border-end border-bottom">
            <p class="mb-1">Total Spent <span class="text-danger">↑</span></p>
            <p class="mb-0">
              {{userSummaryData?.total_expense | currency:
              userSummaryData?.default_currency}}
            </p>
          </div>
          <div class="col-6 py-2 border-bottom">
            <p class="mb-1">
              Total Received <span class="text-success">↓</span>
            </p>
            <p class="mb-0">
              {{userSummaryData?.total_income | currency:
              userSummaryData?.default_currency}}
            </p>
          </div>
          <div class="col-6 py-2 border-end">
            <p class="mb-1">Total Balance</p>
            <p class="mb-0">
              {{userSummaryData?.total_balance | currency:
              userSummaryData?.default_currency}}
            </p>
          </div>
          <div class="col-6 py-2">
            <p class="mb-1">Total Records</p>
            <p class="mb-0">{{userSummaryData?.total_budget_expenses }}</p>
          </div>
          <div class="my-3 border-top"></div>
          <div class="col-10">Let set the budget and reduce the spending</div>
          <div class="col-2">
            <ion-icon class="fs-3" name="chevron-forward-outline"></ion-icon>
          </div>
        </div>

        <!-- recent bill on the month -->
        <div class="row py-3 px-2">
          <h3>Bill On The Month</h3>
          <hr />
          <!-- everyday bills -->
          <app-expenses-list class="p-0" [expenseList]="expenseList" fromPage="home"></app-expenses-list>
        </div>
      </div>
    </div>
  </div>
</ion-content>