.background-image-1 {
    position: absolute;
    top: -7rem;
    left: 0;
    width: 30rem;
    height: 42rem;
    background: url('/assets/vectors/bg-1.svg') no-repeat center center/cover;
    z-index: -1;
  }


  .background-image-2 {
    position: absolute;
    top: 13rem;
    left: 0rem;
    width: 16rem;
    height: 19rem;
    background: url('/assets/vectors/bg-1-image.svg') no-repeat center center/cover;
    z-index: -1;
  }

  .login-form-container {
    margin-top: 28rem;
  }

  .or-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center it properly */
    padding: 2px 8px;
}
