/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

// @import "@ionic/angular/css/palettes/dark.always.css";
// @import "@ionic/angular/css/palettes/dark.class.css";
// @import "@ionic/angular/css/palettes/dark.system.css";

body {
    background-color: var(--ion-color-light) !important;
}

a {
    text-decoration: none !important;
}

.app-input {
    padding: 0.1rem 0;
    margin: .3rem .1rem;
    display: flex;
    align-items: center;
    border-radius: 6px;
    border: 1px solid var(--ion-color-primary);
    color: var(--ion-color-primary);
    background-color: transparent;
    transition:
        border 0.3s ease-in-out,
        background-color 0.3s;
    >input,
    select {
        width: 100%;
        background-color: transparent;
        border: none;
        font-weight: bold;
        height: 3rem;
        padding: 0 0.6rem;
        outline: none;
       
    }

    &:focus-within {
        border: 1.5px solid var(--ion-color-success);
        background-color: var(--ion-color-success-low);
        >input {
            color: var(--ion-color-success);
        }
    }

    &.disabled, &:disabled{
        border: 1px solid var(--ion-color-medium) !important;
        background-color: var(--ion-color-medium-low) !important;
        color: #888;
        cursor: not-allowed;
    }

    >.input-icon {
        width: 2rem;
        font-size: 1.3rem;
        cursor: pointer;
    }
}

.app-card {
    background-color: var(--ion-color-dark);
    border-radius: 10px;
    margin: 0.8rem 0;
    padding: 1rem 0.5rem;
    box-shadow: var(--ion-color-medium) 0px 0px 4px;
}


body.dark-theme,
body.dark-theme .app-card {
    color: var(--ion-color-primary);

    * {
        color: var(--ion-color-primary);
    }
}

body.dark-theme .alert-wrapper {
    background-color: var(--ion-color-dark);
    border-radius: 10px;
    box-shadow: var(--ion-color-medium) 0px 0px 4px;
    color: var(--ion-color-primary);

    * {
        color: var(--ion-color-primary);
    }
}


.app-icon {
    background-color: var(--ion-color-light);
    border-radius: 50%;
    padding: 0.4rem;
    width: 3.5rem;
    height: 3.5rem;

    >img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}

.app-icon-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.app-text-icon {
    display: flex;
    align-items: center;
    cursor: pointer;

    >* {
        font-size: 1.2rem;
        margin: 0 0.2rem;
    }
}