<ion-content [fullscreen]="true">

  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- close icons -->
        <div class="app-card">
          <div class="row">
            <div class="col-8 h4">Expense</div>
            <div class="col-4 d-flex justify-content-end">
              <div class="app-text-icon" (click)="close(false)">
                <ion-icon name="close-circle-outline"></ion-icon>
                <span>close</span>
              </div>
            </div>
          </div>
        </div>

        <div class="app-card mt-4">
          <div class="row align-items-center">
            <div class="col-3">
              <div class="app-icon">
                <img
                  [src]="'/assets/app-icon/' + (expenseData?.transaction_type === 'expense' ? 'expenses-icon/' : 'income-icon/') + expenseData?.expense_type + '.svg'"
                  [alt]="expenseData?.expense_type" />
              </div>
            </div>
            <div class="col-5">
              <p class="mb-0 text-capitalize fs-5">{{expenseData?.expense_type}}</p>
            </div>
            <div class="col-4 text-end">

              {{expenseData?.amount | currency: expenseData?.currency_code}}
            </div>
          </div>
          <hr>

          <div class="row">
            <div class="col-5 my-2">Notes : </div>
            <div class="col-7 text-end my-2">{{expenseData?.description !== '' ? expenseData?.description : '----'}}
            </div>
            <div class="col-5 my-2">Payment type : </div>
            <div class="col-7 text-end my-2">{{expenseData?.payment_type}}</div>
            <div class="col-5 my-2">Group : </div>
            <div class="col-7 text-end my-2">{{expenseData?.group_name}}</div>
            <div class="col-5 my-2">Expense Date : </div>
            <div class="col-7 text-end my-2">{{expenseData?.expense_date | date}}</div>
            <div class="col-12 text-end" *ngIf="fromPage === 'home'">
              <ion-icon name="create" class="fs-1 app-text-primary mt-4 me-3" (click)="openUpdateExpense(expenseData)"></ion-icon>
              <ion-icon name="trash" class="fs-1 app-text-danger mt-4" (click)="onDelete(expenseData?.id)"></ion-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>